extends ../templates/definition.jade

block definition
  p Sea una función $f : \Nat \to \Nat$, llamamos función asociada a la función $f$ a $f' : \Nat \to \Nat$ tal que para todo $n \in \Nat$, $f'(n) = f(n) + n$