extends ../templates/definition.jade

block definition
  p Llamamos 
    strong patrón malabar 
    | a una función $f : \Nat \to \Nat$ tal que su función asociada $f'$ es inyectiva:
  p
    | $\Forall{m \in \Nat}{\Forall{n \in \Nat}{f'(m) = f'(n) \then m = n}}.$