extends ../templates/definition.jade

block definition
  p Llamamos #[strong altura de un lanzamiento] en un instante $n$ o que en el instante $n$ se hace un #[strong lanzamiento $h$] cuando la imagen de $n$ en el patrón malabar $f$ es $h$ ($h = f(n)$)