extends ../templates/theorem.jade

block theorem
  p Dado un patrón malabar $f$, $n \in \Nat$ y existe $m \in \Nat$ tal que $m = f'^{-1}(n)$
  p $f(f'^{-1}(n)) \gt 0$ si y sólo si $f(n) \gt 0$

block demonstration
  p De $m = f'^{-1}(n)$, obtenemos que $n = f'(m)$.
  p De modo que sustituyendo el teorema también se puede expresar de la siguiente forma:
  p $f(m) \gt 0$ si y sólo si $f(f'(m)) \gt 0$
  p Que por #[a(href="#T1.2") teorema 1.2] queda demostrado.