extends ../templates/theorem.jade

block theorem
  p Sea $f$ un patrón malabar, $k$ y $n \in \Nat$
  p $f(f'^k(n)) \gt 0$ si y sólo si $f(n) \gt 0$

block demonstration
  ul
    li
      p Para $k = 0$ la demostración es trivial.
    li
      p Si $k \gt 0$, cuando $k = 1$ es el #[a(href="#T1.2") teorema 1.2]
      p Vamos a demostrar que si para $k$ es cierto que $f(f'^k(n)) \gt 0$ si y sólo si $f(n) \gt 0$, para $k + 1$ también.
      p Por #[a(href="#T1.2") teorema 1.2], $f(f'(f'^k(n))) \gt 0$ si y sólo si $f(f'^k(n))) \gt 0$.
      p $f(f'(f'^k(n))) = f(f'^{k+1}(n))$, con lo cual queda demostrado para $k \gt 0$.
