extends ./templates/base.jade

block scripts
  include ./templates/mathjax.jade

block title
  title Matemática y malabares - Número de bolas

block content
  h1 Número de bolas
  section
    - var num = '2.1'
    - var title = 'Función estado'
    include ./bolas/D2_1.jade

    - var num = '2.2'
    - var title = 'Número de bolas'
    include ./bolas/D2_2.jade

    - var num = '2.3'
    - var title = '';
    include ./bolas/D2_3.jade

    - var num = '2.1'
    include ./bolas/T2_01.jade

    - var num = '2.2'
    include ./bolas/T2_02.jade

    - var num = '2.3'
    include ./bolas/T2_03.jade

    - var num = '2.4'
    include ./bolas/T2_04.jade

    - var num = '2.5'
    include ./bolas/T2_05.jade

    - var num = '2.6'
    include ./bolas/T2_06.jade
    
    - var num = '2.7'
    include ./bolas/T2_07.jade
    
    - var num = '2.8'
    include ./bolas/T2_08.jade
    
    - var num = '2.9'
    include ./bolas/T2_09.jade

    - var num = '2.10'
    include ./bolas/T2_10.jade

    - var num = '2.11'
    include ./bolas/T2_11.jade

    - var num = '2.12'
    include ./bolas/T2_12.jade

    - var num = '2.13'
    include ./bolas/T2_13.jade

    - var num = '2.14'
    - var title = 'Monotonía creciente del número de bolas'
    include ./bolas/T2_14.jade
