extends ./templates/base.jade

block content
  header
    h1 Malabares y matemáticas
  section
    article
      h2 Indice
      ol
        li
          a(href="intro.html") Introducción
        li
          a(href="propiedades_basicas.html") Propiedades básicas
        li
          a(href="bolas.html") Bolas
        li
          a(href="ciclos.html") Ciclos
        li
          a(href="congruencia_divisibilidad.html") Congruencia y divisibilidad