extends ./templates/base.jade

block content
  .main
    article.intro
      h2 Introducción
      ol
        li
          a(href="intro.html") Introducción
    article.theory
      h2 Teoría
      ol
        li
          a(href="propiedades_basicas.html") Propiedades básicas
        li
          a(href="bolas.html") Bolas
        li
          a(href="ciclos.html") Ciclos
        li
          a(href="congruencia_divisibilidad.html") Congruencia y divisibilidad