extends ../templates/definition.jade

block definition
  p Definimos la #[strong función estado $\rho_f$ del patrón malabar $f$] como una función $\rho_f : \Nat \to \mathbb{P}(\Nat)$ tal que para todo $n \in \Nat$, $\rho_f(n) = \{y \in f'(S_{n+1}) : y > n)\}$
