extends ../templates/definition.jade

block definition
  p Como el los siguientes teoremas se hará uso en las demostraciones del conjunto de elementos de $\rho_f(n)$ excepto el elemento $n -1$, vamos a definir la función $\rho^*_f : \Nat \to \mathbb{P}(\Nat)$ tal que $\rho^*_f(n) = \rho_f(n) - \{n - 1\}$.
  p Por la definición, también puede expresarse $\rho^*_f(n) = \{y \in f'(S_{n+1}) : y \gt n + 1)\}$
