extends ../templates/theorem.jade

block theorem
  p $\rho^*_f(n) \cap \{y \in f'(\{n+1\}) : y \gt n + 1 \} = \emptyset$

block demonstration
  p Por la #[a(href="#D2.3") definición 2.3] $\rho^*_f(n) \subset f'(S_{n+1})$
  p Además $\{y \in f'(\{n+1\}) : y \gt n + 1 \} \subset f'(\{n+1\})$.
  p $S_{n+1}$ y $\{n+1\}$ son disjuntos y por la inyectividad de $f'$, $f'(S_{n+1})$ y $f'(\{n+1\})$ también son disjuntos.
  p Por tanto $\rho^*_f(n)$ y $\{y \in f'(\{n+1\}) : y \gt n + 1 \}$ son disjuntos quedando demostrado el teorema.