extends ../templates/theorem.jade

block theorem
  p Si $n + 1 \in \rho_f(n)$ entonces $f'(n + 1) \in \rho_f(n + 1)$

block demonstration
  p $n + 1 \in S_{n + 2}$. Además por el #[a(href="#T2.5") teorema 2.5] $f(n + 1) \gt 0$ y por la #[a(href="propiedades_basicas.html#D1.1") definición 1.1] $f'(n + 1) \gt n + 1$. 
  p De manera que $f'(n + 1) \in \rho_f(n + 1)$ como queríamos demostrar.