extends ../templates/theorem.jade

block theorem
  p Para todo $n \in \Nat$, $|\rho_f(n)| \le |\rho_f(n + 1)|$
block demonstration
  p De los teoremas #[a(href="#T2.12") 2.12] y #[a(href="#T2.13") 2.13] se deduce la desigualdad del teorema.