extends ../templates/theorem.jade

block theorem
  p Si $n + 1 \not\in \rho_f(n)$ entonces $\rho_f(n) = \rho^*_f(n)$

block demonstration
  p Queda demostrado por el #[a(href="T2.1") teorema 2.1] y dado que $n + 1 \not\in \rho_f(n)$.